.cardSection {
    color:white;
    margin:20px;
    padding:3px 270px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__homeLink{
        color:white;
        font-size: 1.5rem;
        width: 600px;
        padding:10px;
        margin-left: 0px;
        text-decoration: none;
        text-align: right;
        font-weight: 400;
        &:hover {
            transform:rotate(360deg);
            color:greenyellow;
            font-size: 1.6rem;
            font-weight: 600;
            }
    }
    &__card{
        display:flex;
        flex-direction: row;
        gap:10px;
        background-color: rgb(0, 174, 255);
        border: solid 10px  rgba(3, 255, 87, 0.801);
        border-image: linear-gradient(to top, #02ff39 0%, #01ff386b 100%) 1;
        width: 600px;
        height: 350px;
        padding:30px;
        &--img {
            max-width: 250px;
        }
    }
}

.textBox {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    color:white;
    padding:10px 40px;
    &__name{
        font-size: 2rem;
        font-weight: 800px;
        line-height: 2.5rem;
    }
    &__box{
        display: flex;
        margin-bottom: 5px;
        gap:5px;
        &--title{
            font-size: 1rem;
            font-weight: 800px;
            }
        &__detail{
            font-size: 1rem;
            font-weight: 400px;
            }
    }
}