.loading  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: greenyellow;
    width: 90vw;
    font-size: 1.5rem;
    font-family: 'Patrick Hand', cursive;
    @media all and (min-width: 768px){
        font-size: 3rem;
          }
    &__img{
        height: 200px;
        @media all and (min-width: 768px){
            height: 400px;
              }
    }
}