.main {
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    background-color: black;
    @media all and (min-width: 768px){
        padding: 50px 140px;
        }
}



